
@import "./core/reset";
@import "./core/typography";
@import "./abstracts/variables";
@import "./components/buttons";
@import "./components/ellipse";
@import "./components/cards";
@import "./components/box";
@import "./layouts/container";
@import "./layouts/headers";
@import "./layouts/footers";
@import "./layouts/nav";
@import "./layouts/nav_button";
@import "./layouts/banner";
@import "./mixins/responsive";
@import "./mixins/mix_button";
@import "./pages/index";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/register";
@import "./pages/subscription";
@import "./pages/service";


body{
    // padding: 5px;
    background-color: skyblue;
    height: auto;
    

    .page_body{
        overflow: hidden;

    }
    
}
