
@import "./core/reset";
@import "./core/typography";
@import "./abstracts/variables";
@import "./components/buttons";
@import "./layouts/headers";
@import "./layouts/footers";
@import "./layouts/nav";
@import "./layouts/nav_button";
@import "./layouts/container";
@import "./mixins/responsive";
@import "./mixins/mix_button";
@import "./pages/index";
@import "./pages/about";
@import "./pages/contact";


body{
    // padding: 5px;
    background-color: skyblue;
    height: 100vh;
    overflow: hidden;
    
}
