
@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../layouts/container';

#banner_id{
    background-color: $brand_dp;
    height: 100%;
   
    .container{

        .banner_div{
            display: flex;
            flex-direction: column;
            text-align: center;

            .slogan{
                // @include border();
                margin-top: 100px;
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include custom_responsive(0px, 767.9px){
                    margin-top: 30px;
                }

                
                h2{
                    // @include border();
                    @include h_txt();
                    width: 1030px;
                    height: 51px;
                    margin-bottom: 25px;

                    @include custom_responsive(768px,1080px){
                        font-size: 40px;
                    }
                    @include custom_responsive(0px, 767.9px){
                        font-size: 30px;
                        line-height: 40px;
                    }

                }
                p{
                    // @include border(); 
                    width: 770px;
                    height: 51px;
                    font-size: 16px;
                    line-height: 26px;
                    color: $black;
                    font-weight: 300;
                    font-family: $roboto;
                    text-align: center;  
                    
                    @include custom_responsive(0px, 767.9px){
                        font-size: 14px;
                        line-height: 20px;
                    }
                                 
                }

                h2,p{
                    @include custom_responsive(0px,991px){
                        height: auto;
                        width: auto;

                    }
                }
            }
            .image{
                // @include border();
                height: 395px;
                width: auto;
                margin-bottom: 80px;

                @include custom_responsive(0px, 767.9px){
                    height: 45vw;
                    margin-bottom: 30px;
                }
                @include custom_responsive(768px, 991.9px){
                    height: 320px;
                }
                img{
                    height: 100%;
                }
            }

            .form{           
                // @include border();   
                margin-bottom: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;

                form{

                    display: flex;
                    justify-content: space-between;
                    align-items: center;  
                    height: 35px;
                    width: 290px;    
                    margin-bottom: 20px;   

                    @include custom_responsive(0px, 575.9px){
                        width: 250px;
                    }
                              

                    input{
                        border: 2px solid $brand_dk;
                        border-radius: 25px 0 0 25px;
                        box-sizing: border-box;
                        padding: 10px;
                        flex-grow: 1;

    
                    }
    
                    button{

                        background-color: $brand_dk;
                        color: #fff;
                        border: 2px solid $brand_dk;
                        border-radius: 0 25px 25px 0;
                        padding: 10px 20px;
                        cursor: pointer;

                        &:hover{

                            @include btn_outline($brand_dk);
                        }

                        @include custom_responsive(0px, 575.9px){
                            padding: 10px 5px;
                        }
                        
    
                    }

                }


                p{
                    font-size: 14px;
                    line-height: 26px;
                    color: $white;
                    font-weight: 250;
                    font-family: $roboto;
                    text-align: center;

                    @include custom_responsive(0px, 767.9px){
                       font-size: 12px;
                       line-height: 22px;
                    }
                }
            }
        }
    }
}