@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../mixins/font_mix';

#header_id{

    border-bottom: 2px solid $brand_dk;
    .container{
        display: flex;
        justify-content: space-between;
        .brand_name{

            h2{
                font-size: 30px;
                line-height: 60px;
                color: #636666;
                font-family: "Basic Sans Serif7"; 
                text-transform: uppercase;       
                
                @include custom_responsive(0px, 768px){
                    font-size: 25px;
                    line-height: 40px;
                }
            }
        }

        .quick_menu{
            display: flex;
            align-items: center;

            @include custom_responsive(0px, 768px){
                display: none;
            }
            ul{
                // @include border();
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 50px;
                li{
                    &:nth-child(4) a{
                        background-color: transparent;
                        border: 1px solid $brand_lt;
                        border-radius: 30px;
                        color: $brand_lt;
                        font-size: 12;
                        font-weight: 500;
                        padding: 8px 30px;

                        &:hover{

                            background-color: $brand_lt;
                            color: $white;
                        }
                    

                    }
                    a{
                        font-size: 14px;
                        // line-height: 39px;
                        color: $black;
                        font-weight: 500;
                        font-family: $roboto;                                               
                    }
                }
            }
        }
    }
  
}



