@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';


// @font-face {

//     font-family: 'Poppins';
//     src: url('../fonts/Poppins/Poppins-Regular.ttf');
// }

@mixin h_txt(){
    font-size: 48px;
    line-height: 60px;
    color: $black;
    font-weight: 300;
    font-family: $roboto;

    
    @include custom_responsive(768px,1080px){
        font-size: 40px;
    }
    @include custom_responsive(0px, 767.9px){
        font-size: 30px;
        line-height: 40px;
    }
}

@mixin f_h_txt(){
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    font-family: $roboto;
}
@mixin f_p_txt(){
    width: 240px;
    font-size: 12px;
    line-height: 22px;
    color: #777777;
    font-weight: 400;
    font-family: $roboto;  
}
@mixin ft_l_txt(){
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #333333;
    font-weight: 300;
    font-family: $roboto;  
    text-transform: uppercase;
}