@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';

@mixin box($bg: blue,$tx_c: red){
    height: 250px;
    width: 240px;
    padding: 40px 10px 60px 10px;
    box-shadow: 0 0 1px 1px #efefef;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;       
    background-color: $bg;
    i,h2,h3,h4,h5,h6,p,a{
        color: $tx_c;
    }

    &:hover{

        background-color: $brand_lt;
        i,h2,h3,h4,h5,h6,p,a{
            color: $white;
        }
    }
};