@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';

@mixin font($cl,$sz,$wt:normal,$stl:normal,$lh: normal,$ls: normal){

    color: $cl;
    font-size: $sz;
    font-style: $stl;
    font-weight: $wt;
    font-family: $roboto;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: center;
}