
@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';

#Services{
background-color: $white;
    .container{

        .service_div{
            padding: 100px 0px;
            text-align: center;

            @include custom_responsive(0px,768px){
                padding: 40px 0px;
            }
            h2{
                @include h_txt();
                margin-bottom: 50px;
            }

            .service_list{
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                align-items: center;
                justify-content: center;

                

                .single_service{

                    &:nth-child(3){
                        background-color: $brand_lt;
                        i,h2,h3,h4,h5,h6,p,a{
                            color: $white;
                        }        
                    }

                    @include box($bg:white,$tx_c: unset);


                    i{
                        width: 50px;
                        font-size: 50px;
                        line-height: 80px;
                        color: $brand_lt;
                        border-bottom: 2px solid #efefef;
                    }
                    h4{
                        @include f_h_txt();
                        margin-bottom: 15px;
                       
                    }
                    p{
                        @include f_p_txt();
                        
                    }
                }
            }
        }
    }
}